<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterWare.Com Site In Awais Qamar</title>
    <link rel="stylesheet" href="{% static 'css/awaiskhan.css' %}" />
    <link rel="stylesheet" href="{% static 'css/awaiskhan1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/awaiskhan4.css' %}" />
    <link rel="stylesheet" href="{% static 'css/awaiskhan5.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&display=swap" rel="stylesheet">
</head>
<style>
    .khani90 #popcart {
        background-color: white;
        color: black;
        border: none;
        font-size: 23px;
    }
    
    #popup {
        width: 28%;
        text-align: center;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 37%;
        margin-top: 10px;
        background-color: white;
        border-radius: 20px;
        top: -275%;
    }
    
    #popup img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        margin-left: 135px;
        margin-top: -50px;
    }
    
    #popup h1 {
        color: black;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 40px;
    }
    
    #popup h5 {
        color: black;
        font-size: 15px;
        font-weight: 500;
        font-family: cursive;
        padding: 30px;
        padding-top: 20px;
    }
    
    #popup button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgb(0, 255, 0);
        color: white;
        font-size: 20px;
        font-weight: 900;
        font-family: cursive;
        cursor: pointer;
        width: 50%;
        margin-left: 93px;
        margin-bottom: 30px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg bg-body-white fixed-top py-3">

        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav khan">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="shopall.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='shopall.html'">SHOP ALL</span>
                        </a>
                        <ul class="dropdown-menu khan1">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="shopall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home2-page">
                                    <img src="/static/images/1.webp">
                                    <h1>Purifaction</h1>
                                    <p>Filter or Prufi water on the go</p>
                                </div>
                                <div class="home3-page">
                                    <img src="/static/images/2.webp">
                                    <h1>Home</h1>
                                    <p>Equipe your home with Nano Zero technology</p>
                                </div>
                                <div class="home4-page">
                                    <img src="/static/images/3.webp">
                                    <h1>Drinkware</h1>
                                    <p>Hydrate Effortlessy on the go</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>
                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="purification.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='purification.html'">PURIFICATION</span>
                        </a>
                        <ul class="dropdown-menu hassan1">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/4.webp">
                                    <h1>LARQ Bottle PureVis™</h1>
                                    <p>From $99</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/5.webp">
                                    <h1>LARQ Bottle Movement PureVis™</h1>
                                    <p>From 89</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/6.webp">
                                    <h1>LARQ Bottle Filtered</h1>
                                    <p>From $49.95</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>
                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="homeone.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='homeone.html'">HOME</span>
                        </a>
                        <ul class="dropdown-menu hassan2">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/7.webp">
                                    <h1>LARQ Pitcher PureVis™</h1>
                                    <p>From $139.00</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/8.webp">
                                    <h1>LARQ Pitcher PureVis Pitcher</h1>
                                    <p>From $79</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/8.webp">
                                    <h1>LARQ Pitcher PureVis™</h1>
                                    <p>From $139.95</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>

                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="drinkware.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='drinkware.html'">DRINKWARE</span>
                        </a>
                        <ul class="dropdown-menu hassan3">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/9.webp">
                                    <h1>LARQ Bottle Swig Top</h1>
                                    <p>From $39</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/10.webp">
                                    <h1>LARQ Bottle Flip Top Bottle</h1>
                                    <p>From $39</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/11.webp">
                                    <h1>LARQ Bottle Twist Top</h1>
                                    <p>From $29</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>

            </div>
            <a class="navbar-brand" href="home.html">LARQ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="technology.html">TECHNOLOGY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><i class="fa fa-user-o"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="cart" onclick="cart()"><i class="fa fa-cart-arrow-down"></i></a>
                    </li>
                    <div class="text-end">
                        <a href="login.html"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                        <a href="logout.html"><button type="button" class="btn btn-warning" href="login.html">Logout</button></a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>


    <div id=com-page>
        <a href="companyadd.html" class="btan"><button>Add Item</button></a>
        <div id=com1-page>
            <h1>List Of Items</h1>
            <div class="com2-page">
                <form action="/companysearch.html/" method="get">
                    <h3>Search</h3>
                    <input type="search" placeholder="Search Item" name="quary" id="quary" />
                    <button type="submit">Search</button>
                </form>
                
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Company ID</th>
                    <th scope="col">Contact Person Name</th>
                    <th scope="col">Contact Email</th>
                    <th scope="col">Contact Phone Number</th>
                    <th scope="col">Company Address Street</th>
                    <th scope="col">Company Address City</th>
                    <th scope="col">Company Address State/Province</th>
                    <th scope="col">Company Address Postal Code</th>
                    <th scope="col">Company Address Country</th>
                    <th scope="col">Company Type</th>
                    <th scope="col">Registration Number</th>
                    <th scope="col">Tax Identification Number</th>
                    <th scope="col">Industry Type</th>
                    <th scope="col">Date of Establishment</th>
                    <th scope="col">Number of Employees</th>
                    <th scope="col">Business Hours</th>
                    <th scope="col">Website URL</th>
                    <th scope="col">Facebook Link</th>
                    <th scope="col">Twitter Link</th>
                    <th scope="col">LinkedIn Link</th>
                    <th scope="col">Instagram Link</th>
                    <th scope="col">Logo/Image</th>
                    <th scope="col">Additional Notes</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                {% for i in emps %}
                <tbody id="tableBody">
                  <tr>
                    <td>{{i.companyname}}</td>
                    <td>{{i.companyid}}</td>
                    <td>{{i.contactperson_name}}</td>
                    <td>{{i.contactemail}}</td>
                    <td>{{i.contactphonenumber}}</td>
                    <td>{{i.companyaddressstreet}}</td>
                    <td>{{i.companyaddresscity}}</td>
                    <td>{{i.companyaddressstate}}</td>
                    <td>{{i.companyaddresspostalcode}}</td>
                    <td>{{i.companyaddresscountry}}</td>
                    <td>{{i.companytype}}</td>
                    <td>{{i.companyregistrationnumber}}</td>
                    <td>{{i.companytaxidentificationnumber}}</td>
                    <td>{{i.companyindustrytype}}</td>
                    <td>{{i.companydateofestablishment}}</td>
                    <td>{{i.companynumberofemployees}}</td>
                    <td>{{i.companybusinesshours}}</td>
                    <td>{{i.companywebsiteurl}}</td>
                    <td>{{i.companyfacebookurl}}</td>
                    <td>{{i.companytwitterurl}}</td>
                    <td>{{i.companylinkedinurl}}</td>
                    <td>{{i.companyinstagramurl}}</td>
                    <td>{{i.companylogoimage}}</td>
                    <td>{{i.companyadditionalnotes}}</td>
                    <td><button>Edit</button></td>
                  </tr>
                </tbody>
                {% endfor %}

              </table>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>


    {% block js %}
    <script>
        // Find out the cart items from localsyorage
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
            document.getElementById('cart').innerHTML = Object.values(cart).reduce((previous, current) => previous + current, 0)
            updateCart(cart);
            // updateCart1(cart);
        }
        // if the add too cart the button is clicked , add/increment the items
        // $('.cart').click(function() {
        $('.divpr').on('click', 'button.cart', function() {
            var idstr = this.id.toString();
            console.log(idstr);
            if (cart[idstr] != undefined) {
                qty = cart[idstr][0] + 1;
            } else {
                qty = 1;
                var nameElement = document.getElementById('name' + idstr);
                if (nameElement) {
                    name = nameElement.innerHTML;
                } else {
                    // handle the case where the element doesn't exist
                }
                var priceElement = document.getElementById('price' + idstr);
                if (priceElement) {
                    price = priceElement.innerHTML;
                    console.log(price);
                } else {
                    // handle the case where the element doesn't exist
                }
                // var element = document.getElementById('div' + idstr);
                // if (element) {
                //     div = element.innerHTML;
                //     console.log(div);
                // } else {
                //     // handle the case where the element doesn't exist
                // }
                var imageElement = document.querySelector('.swing2');


                if (imageElement) {
                    image = imageElement.getAttribute('src');
                    console.log(image);
                } else {
                    // handle the case where the element doesn't exist
                }
                cart[idstr] = [qty, name, parseInt(price), image];
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
            document.getElementById('cart').innerHTML = Object.values(cart).reduce((previous, current) => previous + current, 0)
            updateCart(cart);
            updatePopover(cart);
        });

        $(document).ready(function() {
            $('#popcart').popover({
                // content: ' <p> Cart </p>',
                // html: true,
                // placement: 'bottom'
            });

        });

        $(document).ready(function() {
            // make sure #popcart exists before trying to update it
            if ($('#popcart').length) {
                updatePopover(cart);
            }
        });

        updatePopover(cart);


        function updatePopover(cart) {
            var i = 1;
            var totalAmount = 0; // Initialize total amount counter
            for (var item in cart) {
                // popStr += "<b>" + i + "</b>. ";
                // Assuming the price ID follows the same pattern
                if (nameElement && priceElement && image && imageElement) {
                    popStr += nameElement.innerHTML.slice(0, 19) + " ...Product Qty: " + quantity + ", Price: $ " + totalPriceForItem.toFixed(2) + '<br>'; // Adding name and total price
                } else {
                    console.error('Failed to retrieve necessary elements or image.'); // Log an error if any element or image is missing
                }
                i++;
            }
            popStr += "</div> <a href='checkout.html'><button class='btn nano' id ='checkout'>Checkout</button></a> <button class='btn nono' onclick='clearCart()' id ='clearCart'>Clear Cart</button>";
            var $j = jQuery.noConflict();
            $j('#popcart').attr('data-content', popStr1 + popStr2 + popStr3 + popStr + "</div>");
            $(document).ready(function() {
                $('#popcart').popover('show');
            });
        }
        function clearCart() {
            // console.log(cabrt)
            cart = JSON.parse(localStorage.getItem('cart'));
            for (var item in cart) {
                var element = document.getElementById('div' + item);
                if (element !== null) {
                    element.innerHTML = '<a><button class="cart" id="' + item + '">Add to cart</button></a>';
                } else {
                    // console.log("Element with ID 'div" + item + "' not found.");
                }
            }
            localStorage.clear()
            cart = {};
            updateCart(cart);
            // updateCart1(cart);
        }

        function updateCart(cart) {
            // console.log(cart)
            var sum = 0;
            for (var item in cart) {
                sum = sum + cart[item][0];
                var element = document.getElementById('div' + item);
                if (element !== null) {
                    // element.innerHTML = "<button id='minus" + item + "' class='btn  minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn  plus'> + </button>";
                } else {
                    // console.log("Element with ID 'div" + item + "' not found.");
                }
            }
            document.getElementById('cart').innerHTML = sum;
            localStorage.setItem('cart', JSON.stringify(cart));
            updatePopover(cart);
        }


        // $('.divpr').on("click", "button.minus", function() {

        //     // console.log("minus clicked");
        //     a = this.id.slice(7, );
        //     cart['pr' + a][0] = cart['pr' + a][0] - 1;
        //     cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        //     document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        //     updateCart(cart);

        // });
        // $('.divpr').on("click", "button.plus", function() {
        //     // console.log("minus clicked");
        //     a = this.id.slice(6, );
        //     cart['pr' + a][0] = cart['pr' + a][0] + 1;
        //     document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        //     updateCart(cart);
        // });





        // Event delegation for minus buttons
    </script>
    {% endblock js %}


    <script>
        function formvalidation() {
            const companyname= document.getElementById("companyname").value;
            const companyid = document.getElementById("companyid").value;
            const contactperson_name = document.getElementById("contactperson_name").value;
            const contactemail = document.getElementById("contactemail").value;
            const contactphonenumber = document.getElementById("contactphonenumber");
            const companyaddressstreet= document.getElementById("companyaddressstreet").value;
            const companyaddresscity = document.getElementById("companyaddresscity").value;
            const companyaddressstate = document.getElementById("companyaddressstate").value;
            const companyaddresspostalcode = document.getElementById("companyaddresspostalcode").value;
            const companyaddresscountry = document.getElementById("companyaddresscountry");
            const companytype= document.getElementById("companytype").value;
            const companyregistrationnumber = document.getElementById("companyregistrationnumber").value;
            const companytaxidentificationnumber = document.getElementById("companytaxidentificationnumber").value;
            const companyindustrytype = document.getElementById("companyindustrytype").value;
            const companydateofestablishment = document.getElementById("companydateofestablishment");
            const companynumberofemployees= document.getElementById("companynumberofemployees").value;
            const companybusinesshours= document.getElementById("companybusinesshours").value;
            const companywebsiteurl = document.getElementById("companywebsiteurl").value;
            const companyfacebookurl = document.getElementById("companyfacebookurl").value;
            const companytwitterurl = document.getElementById("companytwitterurl").value;
            const companylinkedinurl = document.getElementById("companylinkedinurl");
            const companyinstagramurl = document.getElementById("companytwitterurl").value;
            const companylogoimage = document.getElementById("companylinkedinurl").value;
            const companyadditionalnotes = document.getElementById("companyadditionalnotes").value;
            const khan = document.getElementById("khanmuhammad");


            if (companyname === "" || companyid === "" || contactperson_name === "" || contactemail === "" || contactphonenumber === "" || companyaddressstreet === "" || companyaddresscity === ""
            || companyaddressstate === "" || companyaddresspostalcode === "" || companyaddresscountry === "" || companytype === "" || companyregistrationnumber === "" 
            || companytaxidentificationnumber === "" || companyindustrytype === "" || companydateofestablishment === "" || companynumberofemployees === "" || companybusinesshours === "" || companywebsiteurl === ""
            || companyfacebookurl === "" || companytwitterurl === "" || companylinkedinurl === "" || companyinstagramurl === "" || companylogoimage === "" || companyadditionalnotes === "") {
                khan.innerHTML = "Please Fill All the requirements";

                return false;
            }
            return true;

        }
    </script>


    <script>
        let popup = document.getElementById("popup");


        function openPopup() {
            popup.classList.add("open-popup");
            console.log(popup)
        }

        function closePopup() {
            popup.classList.remove("open-popup");
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var okButton = document.getElementById("okButton");
            var popup = document.getElementById("popup");

            if (okButton && popup) {
                okButton.addEventListener("click", function() {
                    popup.style.display = "none"; // Hide the popup
                });
            }
        });
    </script>

    {% comment %} <script>
        function searchTable() {
            var input, filter, table, tbody, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByClassName("table")[0];
            tbody = table.getElementsByTagName("tbody")[0];
            tr = tbody.getElementsByTagName("tr");
    
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                tds = tr[i].getElementsByTagName("td");
                let found = false;
                for (j = 0; j < tds.length; j++) {
                    td = tds[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break; // If found, no need to check other cells in this row
                        }
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script> {% endcomment %}
    
    

</body>

</html>













